@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Search Customer Repairs.</h2>
        <p>
            Search Repairs by ID.
        </p>
        <p>@Html.ActionLink(" Search ", "SearchIndex", "Repairs", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Create new Repairs</h2>
        <p>Create new Repairs</p>
        <p>@Html.ActionLink(" Create ", "Create", "Repairs", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Customers List</h2>
        <p>Get Customers List</p>
        <p>@Html.ActionLink(" List ", "Index", "Customer", new { @class = "btn btn-default" })</p>
    </div>
</div>

